@font-face {
    font-family: "IcoFont";
    font-weight: normal;
    font-style: "Regular";
    src: url("./fonts/icofont.woff2") format("woff2"), url("./fonts/icofont.woff") format("woff");
}

body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

input {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

i {
    font-style: normal;
}

dl,
dt,
dd {
    padding: 0;
    margin: 0;
}

.container {
    width: 1226px;
    height: 100%;
    margin: 0 auto;
}

header {
    min-width: 800px;
    width: 100%;
    height: 40px;
    background-color: #333333;
}

.header div {
    display: inline-block;
}

.header div a {
    color: #B0B0B0;
    line-height: 40px;
    font-size: 12px;
    margin: 0 2px;
}

.header div a::after {
    content: "  |";
}

.header div a:last-child::after,
#shoppingCar a:after {
    content: "";
}

.header div a:hover {
    color: #fff;
}

.userInfo {
    float: right;
}

[shoppingCar] {
    position: relative;
    float: right;
    background-color: #424242;
    width: 122px;
    margin-left: 20px;
    padding-left: 15px;
    overflow: hidden;
}

.icofont-shopping-cart::before {
    content: "\efe7";
    font-family: "IcoFont";
    color: #B0B0B0;
}

[shoppingCar]:hover {
    background-color: #fff;
    overflow: visible;
    transition: .5s;
    z-index: 9999;
}

[shoppingCar]:hover i::before,
[shoppingCar]:hover a,
#shoppingCar a:hover {
    color: #FF6726;
}

.shopBuy {
    position: absolute;
    width: 320px;
    height: 100px;
    right: 0;
    top: 100%;
    line-height: 100px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #F0F0F0;
    background-color: #fff;
}

.topbar-download {
    position: relative;
}

.appcode {
    position: absolute;
    top: 27px;
    width: 124px;
    height: 0;
    margin-left: -88px;
    box-shadow: 0 1px 5px #aaa;
    text-align: center;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    line-height: 1;
    overflow: hidden;
}

.appcode img {
    display: block;
    width: 90px;
    height: 90px;
    margin: 18px auto 12px auto;
}

.topbar-download:hover .appcode {
    height: 150px;
    transition: .4s;
    z-index: 9999;
}

.topbar-download:hover::before {
    content: "";
    position: absolute;
    left: 20%;
    top: 19px;
    width: 0;
    height: 0;
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff;
}


/* logo */

.nav {
    height: 100px;
    padding: 20px 0;
    xbackground-color: red;
}

.logo {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url(images/logo-mi2.png) no-repeat;
    background-size: 60px auto;
    background-position: 0 20;
    padding: 20px auto;
}

.nav div {
    display: inline-block;
}

.menu {
    display: inline-block;
    margin-left: 190px;
    margin-top: 15px;
    vertical-align: top;
    xbackground-color: yellow;
}

.menu ul li {
    display: inline-block;
    margin: 8px 10px;
}

.menu ul li a {
    color: #333;
}

.menu ul li a:hover {
    color: #FF9123;
}

.search {
    float: right;
    margin-top: 10px;
    width: 298px;
    height: 52px;
    white-space: nowrap;
    font-size: 0;
    box-sizing: border-box;
}

.search input {
    width: 244px;
    height: 50px;
    padding: 10px;
    vertical-align: bottom;
    border: 1px solid #e0e0e0;
}

.search input:hover+.searchBtn,
.search input:hover {
    border-color: #B0B0B0;
}

.search input:focus+.searchBtn,
.search input:focus {
    border-color: #FF9123;
}

.searchBtn {
    display: inline-block;
    width: 52px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-left: none;
    text-align: center;
    line-height: 50px;
    color: black;
}

.searchBtn::before {
    content: "\ed12";
    font-family: "IcoFont";
    font-size: 20px;
}

.searchBtn:hover {
    color: #fff;
    background-color: #FF9123;
    transition: .4s;
}


/* hover展示手机 */

.detail {
    position: absolute;
    top: 140px;
    left: 0px;
    height: 0;
    width: 100%;
    background-color: pink;
    box-shadow: 0 5px 8px -8px black;
    overflow: hidden;
}

.detail ul {
    display: flex;
    justify-content: center;
}

.detail ul li {
    text-align: center;
    font-size: 14px;
    width: 200px;
    height: 230px;
    position: relative;
}

.detail ul li h2 {
    font-weight: 400;
    font-size: 14px;
}

.detail ul li span {
    color: #FF9123;
}

.open:hover~.detail {
    background-color: #fff;
    height: 230px;
    border-top: 1px solid #E0E0E0;
    transition: .4s;
    z-index: 9999;
}

.detail ul li:nth-child(-n+5) span:after {
    content: "";
    position: absolute;
    top: 6px;
    right: 0;
    width: 1px;
    height: 100px;
    background-color: #e0e0e0;
}


/* 轮播图 */

.main {
    height: 460px;
    background-color: pink;
    xbackground: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/9871b5630e8083761352b76da282bb6c.jpeg?thumb=1&w=1226&h=460) no-repeat;
}

.aside-box {
    position: absolute;
}

aside {
    position: relative;
    width: 234px;
    height: 460px;
    background-color: rgba(0, 0, 0, .5);
    xoverflow: hidden;
    z-index: 999;
}

aside ul {
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

aside>ul>li {
    xposition: relative;
    width: 234px;
    height: 42px;
    color: #fff;
    font-size: 14px;
    text-indent: 2em;
    line-height: 42px;
    overflow: hidden;
}

aside>ul>li:hover {
    background-color: #FF6700;
    overflow: visible;
    z-index: 99999;
}

aside ul li:hover .main-detail {
    visibility: visible;
}

aside>ul>li::after {
    content: "\eab8";
    font-family: "IcoFont";
    font-size: 14px;
    position: absolute;
    left: 180px;
}

.main-detail {
    position: absolute;
    background-color: #fff;
    xleft: 100%;
    left: 234px;
    xtop: -20px;
    top: 0;
    height: 460px;
    width: 992px;
    box-shadow: 0 0 1px black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    visibility: hidden;
}

.main-detail img {
    vertical-align: middle;
}

.main-detail li {
    height: 70px;
}

.main-detail li a {
    font-size: 14px;
    color: #473359;
}

.main-detail li:hover a {
    color: #FF6700;
}

.tupian {
    width: 1226px;
    height: 460px;
    overflow: hidden;
    position: relative;
}

.tupian .imgs img {
    position: absolute;
    right: -100%;
    width: 1226px;
    height: 460px;
}

.tupian input {
    display: none;
    position: relative;
    top: -20px
}

.tupian input:nth-child(1):checked~.imgs a:nth-child(1) img,
.tupian input:nth-child(2):checked~.imgs a:nth-child(2) img,
.tupian input:nth-child(3):checked~.imgs a:nth-child(3) img,
.tupian input:nth-child(4):checked~.imgs a:nth-child(4) img {
    right: 0;
}

.labels {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 30px;
    bottom: 20px;
    margin: auto;
    width: 60px;
    height: 20px;
    z-index: 100;
    xbackground-color: pink;
    transition: 1s;
}

.labels label {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #949494;
}

.tupian input:nth-child(1):checked~.labels label[for="i1"],
.tupian input:nth-child(2):checked~.labels label[for="i2"],
.tupian input:nth-child(3):checked~.labels label[for="i3"],
.tupian input:nth-child(4):checked~.labels label[for="i4"] {
    background-color: #fff;
}

.left-labels,
.right-labels {
    width: 41px;
    height: 69px;
    position: absolute;
    left: 234px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
}

.left-labels:hover,
.right-labels:hover {
    background-color: rgba(0, 0, 0, .5);
}

.left-labels:hover {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.right-labels:hover {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.right-labels {
    left: 1185px;
}

.left-labels label,
.right-labels label {
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
    line-height: 69px;
    font-size: 30px;
    color: #a8a8a8
}

.left-labels label::after {
    content: "\ea9d";
    font-family: "IcoFont";
}

.right-labels label::after {
    content: "\eaa0";
    font-family: "IcoFont";
}

.left-labels label:hover,
.right-labels label:hover {
    color: #fff;
}

.tupian input:nth-child(1):checked~.left-labels label[for="i4"],
.tupian input:nth-child(1):checked~.right-labels label[for="i2"],
.tupian input:nth-child(2):checked~.left-labels label[for="i1"],
.tupian input:nth-child(2):checked~.right-labels label[for="i3"],
.tupian input:nth-child(3):checked~.left-labels label[for="i2"],
.tupian input:nth-child(3):checked~.right-labels label[for="i4"],
.tupian input:nth-child(4):checked~.left-labels label[for="i3"],
.tupian input:nth-child(4):checked~.right-labels label[for="i1"] {
    display: block;
}


/* 秒杀 */

.a {
    height: 170px;
    margin: 10px auto 20px auto;
}

.b {
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    float: left;
    margin-right: 15px;
}

.icofont-clock-time::after {
    content: "\eedc";
    font-family: "IcoFont";
    font-size: 25px;
}

.icofont-bubble-up::after {
    content: "\ea66";
    font-family: "IcoFont";
    font-size: 25px;
}

.icofont-muscle-weight::after {
    content: "\eb39";
    font-family: "IcoFont";
    font-size: 25px;
}

.icofont-heart-eyes::after {
    content: "\eafb";
    font-family: "IcoFont";
    font-size: 25px;
}

.icofont-light-bulb::after {
    content: "\ef6b";
    font-family: "IcoFont";
    font-size: 25px;
}

.icofont-smart-phone::after {
    content: "\efec";
    font-family: "IcoFont";
    font-size: 25px;
}

.b ul {
    display: flex;
    flex-wrap: wrap;
}

.b ul li {
    width: 78px;
    height: 85px;
    border: 1px solid;
    color: #cfcdcb;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b ul li:hover {
    color: #fff;
}

.c {
    display: flex;
    justify-content: space-between;
}

.c img {
    width: 316px;
}


/* 秒杀 */

.w100 {
    width: 100%;
    background-color: #f5f5f5;
}

.miaosha {
    height: 400px;
}

.miaoshao-title {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anniu {
    float: right
}

.d {
    height: 340px;
}

.e {
    float: left;
    width: 234px;
    height: inherit;
    border-top: 1px solid #e53935;
    background-color: pink;
    margin-right: 14px;
}

.f {
    height: 340px;
    width: 978px;
    background-color: red;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.f div {
    display: inline-block;
    width: 234px;
    height: 340px;
    border: 1px solid;
    margin-right: 14px;
    background-color: green;
}

.note9 {
    margin: 34px auto;
}


/* 手机 */

.phone-img {
    width: 1226px;
    height: 614px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.phone-img div:not(:first-child) {
    width: 234px;
    height: 300px;
    background-color: #ffffff;
    border: 1px solid;
}

.phone-img div:not(:first-child) img {
    width: 160px;
    height: 160px;
    margin: 12px 37px 0;
}


/* 家电 */

.jiadian {
    width: 1226px;
    height: 614px;
    background-color: pink;
    display: flex;
}

.redmi {
    display: flex;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.redmi div {
    width: 234px;
    height: 300px;
}

.jiadianTab ul {
    width: 976px;
    height: 614px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.jiadianTab ul li {
    background-color: #fff;
}

.jiadianTab ul li:nth-child(-n+7) {
    width: 234px;
    height: 300px;
    border: 1px solid;
}

.jiadianTab ul li:nth-child(n+8) {
    width: 234px;
    height: 143px;
    border: 1px solid;
}

.jiadianTab ul li a img {
    margin: 0 17px;
}


/* 视频 */

.uipn {
    width: 1226px;
    height: 285px;
    background-color: pink;
    display: flex;
    justify-content: space-between;
}

.uipn div {
    width: 296px;
    height: 285px;
    background-color: green;
    overflow: hidden;
}

.uipn div video {
    width: 296px;
    height: 180px;
}


/* 底部    */

footer {
    height: 333px;
    width: 100%;
    margin-top: 26px;
}

.fuwu {
    height: 80px;
    background-color: pink;
    border-bottom: 1px solid #e0e0e0;
}

.fuwu ul {
    display: flex;
    justify-content: space-around;
    line-height: 80px;
}

.fuwu ul li a {
    color: #79a3b4;
}

.fuwu ul li:hover a {
    color: #ff791f;
}

.links {
    height: 253px;
}

.link {
    display: flex;
    justify-content: space-between;
}

.link dl dt {
    color: #424242;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.link dl dd {
    margin-bottom: 15px;
}

.link dl dd a {
    font-size: 12px;
    color: #757575;
}

.link dl dd :hover {
    color: #ff6a00;
}

.col-content {
    width: 252px;
    height: 111px;
    background-color: pink;
    align-self: center;
}


/* 链接 */

.site-info {
    padding-bottom: 30px;
}

.site-container {
    width: 1226px;
    height: 157px;
    margin: 40px auto;
    padding-top: 26px;
}

.site-container p,
.site-container a,
.site-container span {
    font-size: 12px;
    color: #757575;
}

.ir {
    float: left;
    margin-right: 10px;
}

.info-text {
    height: 110px;
    padding-left: 67px;
}

.info-text a:hover {
    color: #ff6a00;
}

.info-text p {
    margin: 0 auto 0 10px;
    vertical-align: top;
}

.info-links {
    margin-left: 67px;
}

.info-links img {
    height: 28px;
    width: auto;
}

.slogan {
    margin: 30px auto 0;
    height: 19px;
    background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/slogan2020.png) no-repeat center 0;
}