@font-face {
    font-family: "IcoFont";
    font-weight: normal;
    font-style: "Regular";
    src: url("./fonts/icofont.woff2") format("woff2"), url("./fonts/icofont.woff") format("woff");
}

body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

input {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1226px;
    height: 100%;
    margin: 0 auto;
}

header {
    min-width: 800px;
    width: 100%;
    height: 40px;
    background-color: #333333;
}

.header div {
    display: inline-block;
}

.header div a {
    color: #B0B0B0;
    line-height: 40px;
    font-size: 12px;
    margin: 0 2px;
}

.header div a::after {
    content: "  |";
}

.header div a:last-child::after,
#shoppingCar a:after {
    content: "";
}

.header div a:hover {
    color: #fff;
}

.userInfo {
    float: right;
}

[shoppingCar] {
    position: relative;
    float: right;
    background-color: #424242;
    width: 122px;
    margin-left: 20px;
    padding-left: 15px;
    overflow: hidden;
}

.icofont-shopping-cart::before {
    content: "\efe7";
    font-family: "IcoFont";
    color: #B0B0B0;
}

[shoppingCar]:hover {
    background-color: #fff;
    overflow: visible;
    transition: .5s;
    z-index: 9999;
}

[shoppingCar]:hover i::before,
[shoppingCar]:hover a,
#shoppingCar a:hover {
    color: #FF6726;
}

.shopBuy {
    position: absolute;
    width: 320px;
    height: 100px;
    right: 0;
    top: 100%;
    line-height: 100px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #F0F0F0;
    background-color: #fff;
}

.topbar-download {
    position: relative;
}

.appcode {
    position: absolute;
    top: 27px;
    width: 124px;
    height: 0;
    margin-left: -88px;
    box-shadow: 0 1px 5px #aaa;
    text-align: center;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    line-height: 1;
    overflow: hidden;
}

.appcode img {
    display: block;
    width: 90px;
    height: 90px;
    margin: 18px auto 12px auto;
}

.topbar-download:hover .appcode {
    height: 150px;
    transition: .4s;
    z-index: 9999;
}

.topbar-download:hover::before {
    content: "";
    position: absolute;
    left: 20%;
    top: 19px;
    width: 0;
    height: 0;
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff;
}


/* logo */

.nav {
    height: 100px;
    padding: 20px 0;
    xbackground-color: red;
}

.logo {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url(images/logo-mi2.png) no-repeat;
    background-size: 60px auto;
    background-position: 0 20;
    padding: 20px auto;
}

.nav div {
    display: inline-block;
}

.menu {
    display: inline-block;
    margin-left: 190px;
    margin-top: 15px;
    vertical-align: top;
    xbackground-color: yellow;
}

.menu ul li {
    display: inline-block;
    margin: 8px 10px;
}

.menu ul li a {
    color: #333;
}

.menu ul li a:hover {
    color: #FF9123;
}

.search {
    float: right;
    margin-top: 10px;
    width: 298px;
    height: 52px;
    white-space: nowrap;
    font-size: 0;
    box-sizing: border-box;
}

.search input {
    width: 244px;
    height: 50px;
    padding: 10px;
    vertical-align: bottom;
    border: 1px solid #e0e0e0;
}

.search input:hover+.searchBtn,
.search input:hover {
    border-color: #B0B0B0;
}

.search input:focus+.searchBtn,
.search input:focus {
    border-color: #FF9123;
}

.searchBtn {
    display: inline-block;
    width: 52px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-left: none;
    text-align: center;
    line-height: 50px;
    color: black;
}

.searchBtn::before {
    content: "\ed12";
    font-family: "IcoFont";
    font-size: 20px;
}

.searchBtn:hover {
    color: #fff;
    background-color: #FF9123;
    transition: .4s;
}


/* hover展示手机 */

.detail {
    position: absolute;
    top: 140px;
    left: 0px;
    height: 0;
    width: 100%;
    background-color: pink;
    box-shadow: 0 5px 8px -8px black;
    overflow: hidden;
}

.detail ul {
    display: flex;
    justify-content: center;
}

.detail ul li {
    text-align: center;
    font-size: 14px;
    width: 200px;
    height: 230px;
    position: relative;
}

.detail ul li h2 {
    font-weight: 400;
    font-size: 14px;
}

.detail ul li span {
    color: #FF9123;
}

.open:hover~.detail {
    background-color: #fff;
    height: 230px;
    border-top: 1px solid #E0E0E0;
    transition: .4s;
    z-index: 9999;
}

.detail ul li:nth-child(-n+5) span:after {
    content: "";
    position: absolute;
    top: 6px;
    right: 0;
    width: 1px;
    height: 100px;
    background-color: #e0e0e0;
}


/* 轮播图 */

.main {
    height: 460px;
    background-color: pink;
    background: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/9871b5630e8083761352b76da282bb6c.jpeg?thumb=1&w=1226&h=460) no-repeat;
}

aside {
    position: relative;
    width: 234px;
    height: 460px;
    background-color: rgba(0, 0, 0, .5);
    overflow: hidden;
}

aside ul {
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

aside>ul>li {
    xposition: relative;
    width: 234px;
    height: 42px;
    color: #fff;
    font-size: 14px;
    text-indent: 2em;
    line-height: 42px;
    xoverflow: hidden;
}

aside>ul>li:hover {
    background-color: #FF6700;
    overflow: visible;
    z-index: 99999;
}

aside>ul>li::after {
    content: "\eab8";
    font-family: "IcoFont";
    font-size: 14px;
    position: absolute;
    left: 180px;
}

.main-detail {
    position: absolute;
    background-color: #fff;
    xleft: 100%;
    left: 234px;
    xtop: -20px;
    top: 0;
    height: 460px;
    width: 992px;
    box-shadow: 0 0 1px black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-detail img {
    vertical-align: middle;
}

.main-detail li {
    height: 70px;
}

.main-detail li a {
    font-size: 14px;
    color: #473359;
}

.main-detail li:hover a {
    color: #FF6700;
}

.a {
    height: 170px;
    margin: 10px auto 20px auto;
}

.b {
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    float: left;
    margin-right: 15px;
}

.b ul {
    display: flex;
    flex-wrap: wrap;
}

.b ul li {
    width: 78px;
    height: 85px;
    border: 1px solid;
}

.c {
    display: flex;
    justify-content: space-between;
    background-color: red;
}

.c img {
    width: 316px;
}


/* 秒杀 */

.w100 {
    width: 100%;
    background-color: #f5f5f5;
}

.miaosha {
    height: 400px;
}

.miaoshao-title {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anniu {
    float: right
}

.d {
    height: 340px;
}

.e {
    float: left;
    width: 234px;
    height: inherit;
    border-top: 1px solid #e53935;
    background-color: pink;
    margin-right: 14px;
}

.f {
    height: 340px;
    width: 978px;
    background-color: red;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.f div {
    display: inline-block;
    width: 234px;
    height: 340px;
    border: 1px solid;
    margin-right: 14px;
    background-color: green;
}

.note9 {
    margin: 34px auto;
}


/* 手机 */

.phone-img {
    width: 1226px;
    height: 614px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.phone-img div:not(:first-child) {
    width: 234px;
    height: 300px;
    background-color: #ffffff;
    border: 1px solid;
}

.phone-img div:not(:first-child) img {
    width: 160px;
    height: 160px;
    margin: 12px auto 0;
}